<div class="clearfix">
	<h1 ng-hide="authenticated" id="mainH1">My Notes</h1>
	<h3 ng-hide="authenticated" id="mainH3">Created by: Andy Thach</h3>
	<br />
	<form ng-Submit="post()" ng-show="authenticated">
		<p class="text-center" ng-show="authenticated">Signed in as {{current_user}}</p>
		<!-- <input class="form-control" required type="text" placeholder="Title" ng-model="newPost.title"> -->
		<br />
		<textarea class="form-control" required maxlength="300" rows="3" placeholder="Your Notes" ng-model="newPost.text"></textarea>
		<br />
		<ul class="list-inline center-block text-center">
			<li><input class="button btn btn-primary" type="submit" value="Submit"></li>
			<li ng-click="update()"><input class="button btn btn-info" type="update" value="Update"></li>
		</ul>
	    <p><a id="registerAnchor" href="#/login" ng-click="logout()">Logout</a></p>
	</form>
	<p class="text-center" ng-hide="authenticated"><a id="registerAnchor" href="#/login">Login</a></p>
	<div id="post-stream" class="row" ng-show="authenticated">
	<div class="panel panel-info col-lg-6 col-md-6  col-sm-6 col-xs-12" ng-repeat="post in posts | orderBy: 'created_at': true" ng-class-odd="'odd'" ng-class-even="'even'">
	  <div class="panel-heading">
	    <ul class="list-inline">
	    	<li><p ng-show="authenticated"><a id="deleteB" href="#/" ng-click="remove(post._id)">Delete</a></p></li>
	    	<li><p ng-show="authenticated"><a id="editB" href="#/" ng-click="edit(post._id)">Edit</a></p></li>
	    </ul>
	  </div>
	  <div class="panel-body">
	    <p>{{post.text}}</p>
	  	<small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
	  </div>
	</div>
	</div>	
</div>


